.container {
  height: 100vh;
}
.sidenav {
  width: 240px;
  padding-top: 8px;
}
.brand {
  font-weight: 700;
  padding: 16px;
}
.content {
  padding: 16px;
}
.spacer {
  flex: 1 1 auto;
}
a.active {
  font-weight: 600;
}
