<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">User Management</div>
    <mat-nav-list>
      <a mat-list-item routerLink="/users" routerLinkActive="active"><mat-icon>people</mat-icon>&nbsp;Users</a>
      <a mat-list-item routerLink="/groups" routerLinkActive="active"><mat-icon>group_work</mat-icon>&nbsp;Groups</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>User Management Admin</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/reports" routerLinkActive="active">Reports</a>
    </mat-toolbar>
    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
